@import "tailwindcss";

@theme {
  --color-primary: #4d2585;
  --radius-xl: 1rem;
  --font-sans: 'Inter Variable', sans-serif;
}

@layer components {
  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:bg-primary/80 transition-colors text-sm sm:text-base;
  }
}