@import 'tailwindcss';

@theme {
  --color-primary: #113;
  --radius-xl: 1rem;
  --font-sans: 'Inter Variable', sans-serif;
}

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-primary/80 rounded-lg px-4 py-2 text-sm text-white transition-colors sm:text-base;
  }
}